In [56]:
fp=open("resume.txt",'w')

In [57]:
import json

In [58]:
data= {
        'name1':'hanisha khatri','batch':2016,'subject':'python'
    }

In [59]:
d1=json.dumps(data)

In [60]:
print(d1)

{"name1": "hanisha khatri", "batch": 2016, "subject": "python"}

In [61]:
fp.write(d1)
fp.close()

In [62]:
fp=open("resume.txt")

In [63]:
d2=json.loads(fp.read())
fp.close()

In [64]:
print(d2)

{'name1': 'hanisha khatri', 'batch': 2016, 'subject': 'python'}

In [65]:
type(d2)

dict

In [80]:
import pickle

In [81]:
fp=open("my.txt",'wb')

In [82]:
d={
    'name':'hanisha','year':2018,'section':'A'
}

In [83]:
pickle.dump(d,fp)

In [84]:
fp.close()

In [3]:
fp=open("my.txt",'rb')

In [89]:
d1=pickle.load(fp)

In [90]:
fp.close()

In [91]:
print(d1)

{'name': 'hanisha', 'year': 2018, 'section': 'A'}

In [9]:
import shelve

In [10]:
user1={'name':'sachin','age':23,'country':'india'}
user2={'name':'john','age': 27,'country':'usa'}

In [11]:
import os

In [14]:
os.mkdir("inventory1")

In [15]:
idss=['user1','user2']

In [16]:
for var  in  [user1,user2]:
    print(var)
    print('\n')

{'name': 'sachin', 'age': 23, 'country': 'india'}


{'name': 'john', 'age': 27, 'country': 'usa'}