# set in python 
## set is collection of unique object
## set supports set theory operation such as intersection,union,diff......
### set is mutable but objects in set must be im-mutable
### set is unordered data type

In [1]:
s={1,2,3,4,5,1,1,3,4,5,57,7,7}

In [2]:
s

{1, 2, 3, 4, 5, 7, 57}

In [3]:
s={(1,2,3),1,2,3,4}

In [4]:
s

{(1, 2, 3), 1, 2, 3, 4}

In [6]:
s=set('aaaaaaaacaaaaaadaaaaaaaaaaeaaaaaaaaaaaaaaaaaaaa')
print(s)

{'a', 'c', 'd', 'e'}

In [7]:
l=[1,2,3,4,4,2,1,1,1]
l1=list(set(l))
print(l1)

[1, 2, 3, 4]

In [8]:
s={1,2,3}

In [9]:
type(s)

set

In [10]:
s1={1,2,3,4}
s2={3,4,5,6}

In [11]:
s1.isdisjoint(s2)

False

In [12]:
s1={1,2,3,4,5,6}
s2={1,2,3}
s1.issubset(s2)

False

In [13]:
hindi={'abhishek','sunil','nitin','sachin'}
english={'sachin','rahul','sunil','samyak'}

In [14]:
hindi.intersection(english)

{'sachin', 'sunil'}

In [15]:
hindi.difference(english)

{'abhishek', 'nitin'}

In [16]:
english.difference(hindi)

{'rahul', 'samyak'}

In [17]:
hindi.union(english)

{'abhishek', 'nitin', 'rahul', 'sachin', 'samyak', 'sunil'}

In [18]:
hindi.add("rajat")

In [19]:
hindi

{'abhishek', 'nitin', 'rajat', 'sachin', 'sunil'}

In [20]:
hindi.pop()

'sachin'

In [21]:
english.add("vartika")

In [22]:
english

{'rahul', 'sachin', 'samyak', 'sunil', 'vartika'}

## forzen set

In [25]:
s1=forzenset([1,11,1,1,1,2,2,3,4,5,5])

NameError: name 'forzenset' is not defined

In [26]:
cricket= frozenset({
    'vishnu','sunil','samayak','rahul'
})
pubg= frozenset({
    'nitin','rahul','anish'
})

In [27]:
from random import randint
s1=frozenset([randint(1,50) for var in range(1,30)])
s2=frozenset([randint(1,50) for var in range(1,30)])

In [28]:
print(s1)

frozenset({1, 2, 4, 6, 9, 12, 13, 14, 18, 19, 20, 23, 26, 30, 31, 32, 33, 34, 37, 39, 40, 42, 43, 45, 50})

In [29]:
print(s2)

frozenset({6, 7, 8, 11, 12, 13, 14, 17, 19, 20, 21, 23, 24, 26, 28, 33, 36, 38, 40, 45, 48, 49})

In [30]:
s1.intersection(s2)

frozenset({6, 12, 13, 14, 19, 20, 23, 26, 33, 40, 45})

In [31]:
s1.difference(s2)

frozenset({1, 2, 4, 9, 18, 30, 31, 32, 34, 37, 39, 42, 43, 50})